.table {
  width: 100%;
  border-collapse: collapse;
}

.theadRow  {
  border-bottom: 2px solid var(--primary);
}

.th {
  padding: 8px 20px;
  text-align: left;
}

th:nth-child(3),
th:nth-child(4) {
  text-align: right;
}

.tbodyRow  {
  border-bottom: 1px solid var(--border);
}

td {
  padding: 8px 16px;
}

td:first-child {
  width: 22px;
  text-align: center;
  padding: 8px;
}

td:first-child img {
  width: 22px;
  height: 22px;
  object-fit: contain;
}


td:nth-child(3),
td:nth-child(4) {
  text-align: right;
}



.navigation {
  display: flex;
  align-items: center;
  gap: 4px;
  background: var(--lightsecondary);
  padding: 4px 8px;
  border-radius: 8px;
}



.navButton {
  cursor: pointer;
  background: none;
  border: none;
  padding: 4px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navButton img {
  width: 22px;
  height: 22px;
  object-fit: contain;
}

.navButton:disabled {
  cursor: default;
}

.navButton:not(:disabled):hover {
  background-color: var(--secondary);
}



.breadcrumb {
  display: flex;
  align-items: center;
}

.breadcrumbPart {
  cursor: pointer;
  color: var(--text);
}

.breadcrumbPart:hover {
  text-decoration: underline;
}

.breadcrumbSeparator {
  margin: 0px 6px;
  user-select: none;
}