.header {
    display: flex;
    color: var(--text);
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.repoName {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text);
    white-space: nowrap;
    cursor: pointer;
}

.visibility {
    background: var(--lightsecondary);
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.8rem;
    color: var(--text);
    height: fit-content;
}

.colaborators {
    display: flex;
    margin-left: auto;
    gap: 6px;
    cursor: pointer;
    align-items: center;
}

.avatars {
    display: flex;
    gap: 6px;
}

.avatar {
    width: 32px;
    height: 32px;
    border: 1px solid var(--primary);
}

.avatarExtra {
    color: var(--primary);
    background: var(--lightsecondary);
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.8rem;
    font-weight: 500;
}


.divider {
    border: none;
    border-top: 2px solid var(--primary);
    margin: 8px 0px 10px 0px;
}

.description {
    font-size: 0.9rem;
    color: var(--text);
}



.lastUpdated {
    font-style: italic;
    font-size: 0.8rem;
    color: var(--primary);
    float: right;
}

.lastUpdatedDate {
    font-style: normal;
    margin-left: 5px;
}


.ownerHolder {
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 6px;
}