
.navbar {
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.button {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
    background-color: var(--button);
    color: var(--lighttext);
    font-size: 1rem;
    border: var(--primary) thin solid;
    height: 100%;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    white-space: nowrap;
}

.selected {
    background: var(--border);
}