.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 9px solid;
  border-color: var(--lightsecondary);
  border-right-color: var(--primary);
  animation: spinner 1s infinite linear;
}

@keyframes spinner {
  to {
     transform: rotate(1turn);
  }
}