.page {
    background: var(--card);
    width: 90%;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    margin: 20px 0px;
    height: fit-content;
    max-width: 1200px;
}


.header {
    display: flex;
    width: 100%;
    background: var(--accent);
    align-items: center;
    padding: 4px 10px;
    gap: 10px;
    justify-content: center;
    min-height: 46px;
    border-radius: 8px 8px 0px 0px;
}


.leftHeader {
    display: flex;
    justify-content: left;
    gap: 8px;
    align-items: center;
    flex-wrap: wrap;
    white-space: nowrap;
}

.visability {
    background: var(--lightsecondary);
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    color: var(--text);
    height: fit-content;
}




.button {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
    background-color: var(--button);
    color: var(--lighttext);
    font-size: 1rem;
    border: var(--primary) thin solid;
    height: 100%;
    padding: 6px 12px;
    border-radius: 8px;
    cursor: pointer;
    white-space: nowrap;
}


.content {
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding: 18px;
}