.header {
    display: flex;
    width: 100%;
    border-bottom: 2px solid var(--primary);
    margin-bottom: 10px;
    gap: 10px;
}

.visibility {
    background: var(--lightsecondary);
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.8rem;
    color: var(--text);
    height: fit-content;
    align-self: center;
}

.readme {
    border-bottom: 2px solid var(--primary);
    margin-bottom: 10px;
}