.container {
    background: var(--card);
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    border-radius: 8px;
    margin-top: 20px;
    justify-items: center;
    padding-bottom: 18px;
    height: fit-content;
}

.logoutButton {
    background: #FF4747;
    margin-top: 50px;
    width: 70%;
    min-width: 100px;
    border: none;
    border-radius: 10px;
    color: var(--inverttext);
    font-size: 1rem;
    cursor: pointer;
    padding: 5px;
}

.deleteButton {
    background: #BF3535;
    margin-top: 20px;
    width: 30%;
    min-width: 100px;
    border: none;
    border-radius: 10px;
    color: var(--inverttext);
    font-size: 1rem;
    cursor: pointer;
    padding: 5px;
}

.PATHolder {
    width: 100%;
}

.GenPAT {
    overflow: auto;
}

.buttonHolder {
    display: flex;
    gap: 20px;
    overflow: auto;
}