.container {
    background: var(--card);
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    border-radius: 8px;
    margin-top: 20px;
    justify-items: center;
    padding-bottom: 18px;
    height: fit-content;
}

.deleteButton {
    font-size: 0.9rem;
    background: var(--light-red);
    border: 1px solid var(--border);
    color: var(--text);
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 15px;
    width: 100%;
    margin-top: 20px;
    transition: background 0.1s ease-in-out;
}

.deleteButton:hover {
    background: var(--light-red-hover);
}


.PATHolder {
    width: 100%;
}

.GenPAT {
    overflow: auto;
}

.buttonHolder {
    display: flex;
    gap: 20px;
    overflow: auto;
}