.container {
    background: var(--card);
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    border-radius: 8px;
    margin-top: 20px;
    justify-items: center;
    padding-bottom: 18px;
    height: fit-content;
}

.deleteButton {
    font-size: 0.9rem;
    background: var(--light-red);
    border: 1px solid var(--border);
    color: var(--text);
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 15px;
    width: 100%;
    margin-top: 20px;
    transition: background 0.1s ease-in-out;
}

.deleteButton:hover {
    background: var(--light-red-hover);
}



.GenPATHolder {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.GenPAT {
    overflow-wrap: anywhere;
}

.copyButton {
    width: fit-content;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid var(--border);
    border-radius: 4px;
    background-color: var(--lightsecondary);
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
}

.revokeMessage {
    margin-top: 20px;
}


.headings {
    margin-bottom: 10px;
}