.App {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* Links */
a {
  font-weight: bold;
  color: var(--primary);
}

a:hover {
  color: var(--accent);
}


/* Message error & success colors */
.success {
  color: var(--green);
}

.error {
  color: var(--red);
}