.App {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* Default Light Theme */
:root {
  --text: #0F1014;
  --lighttext: #444;
  --inverttext: white;

  --background: #F4F4F6;
  --border: #d9d9d9;
  --card: white;

  --primary: #6971A9;
  --secondary: #C2B1CB;
  --accent: #848CB9;
}

/* Dark Theme */
:root[data-theme="dark"] {
  --text: #eaeaea;
  --lighttext: #999;
  --inverttext: black;
  
  --background: #181818;
  --border: #5c5c5c;
  --card: #313131;

  --primary: #565d95;
  --secondary: #44334d;
  --accent: #474f7b;
}

/* Links */
a {
  font-weight: bold;
  color: var(--primary);
}

a:hover {
  color: var(--accent);
}

label {
  color: var(--text);
}

h1 {
  color: var(--text);
}

p {
  color: var(--text);
}