.App {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

/* Links */
a {
  font-weight: bold;
  color: var(--primary);
}

a:hover {
  color: var(--accent);
}


/* Message error & success colors */
.success {
  color: var(--green);
}

.error {
  color: var(--red);
  font-weight: 500;
}

.errorMessage {
  margin-bottom: 20px;
}

.button {
  background-color: var(--primary);
  padding: 10px 15px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--primary-hover);
}

.button:disabled {
  background: var(--border);
  cursor: default;
}