body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Default Light Theme */
:root {
  --text: #0F1014;
  --lighttext: #444444;
  --inverttext: white;

  --background: #F4F4F6;
  --border: #d9d9d9;
  --card: white;
  --tintcard: #FCFCFD;
  --darkcard: #ebebeb;
  

  --button: #F5F5F5;

  --primary: #6971A9;
  --secondary: #C2B1CB;
  --lightsecondary: #E8E0EC;
  
  --accent: #b7bbd2;


  --lightgreenbutton: #A8E6A2;
  --greenbutton: #4CAF50;
  --darkgreenbutton: #388E3C;
  
  --lightredbutton: #F8BFBF;
  --redbutton: #F44336;
  --darkredbutton: #D32F2F;
}

/* Dark Theme */
[data-theme="dark"] {
  --text: #eaeaea;
  --lighttext: #bbbbbb;
  --inverttext: black;
  
  --background: #181818;
  --border: #5c5c5c;
  --card: #313131;
  --tintcard: #252525;
  --darkcard: #3D3D3D;

  --button: #3c3c3c;

  --primary: #565d95;
  --secondary: #867491;
  --lightsecondary: #3a2f3e;

  --accent: #474f7b;


  --darkgreenbutton: #81C784;
  --greenbutton: #3D8B40;
  --lightgreenbutton: #2E6B32;
  
  --darkredbutton: #E57373;
  --redbutton: #D43729;
  --lightredbutton: #A52A24;
  
}