.button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    margin: 20px 0px;
    font-size: 1rem;

    transition: background-color 0.1s ease-in-out;
}

.button:hover {
    background-color: var(--primary-hover);
}