.header {
    display: flex;
    background-color: var(--card);
    padding: 0px 20px;
    height: 70px;
    margin: 0;
    gap: 2px;
    list-style: none;
    justify-content: left;
    align-items: center;
    border-bottom: var(--border) solid 1px;

    max-width: 100%;
    z-index: 1000; /* appear ontop everything */
    position: relative;
}

.logo {
    width: auto;
    height: 45px;
    cursor: pointer;
}